<!DOCTYPE HTML>
<html>
	<link type="text/css" rel="stylesheet" href="assets/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="assets/css/navbar.css"/>
	<style>
		#daftar a:link {text-decoration: none; color: red;}
		#daftar a:visited {text-decoration: none; color: green;}
		#daftar a:hover {text-decoration: none; color: purple;}
		#daftar a:active {text-decoration: none; color: blue;}
	</style>
	
	<div id="post">
		<p style="font-family:Constantia; font-size:30px;"><b>
			Kisah Para Sahabat
		</b>
		</p>

		<p style="font-family:constantia;">
			<font color="#0000FF"><b>MUHAJIRIN</b></br></font>
			<div id="daftar">
				<a href="kisah_sahabat_nabi/abu_bakr">Abu Bakr ra.</a></br>
				<a href="kisah_sahabat_nabi/umar_bin_khattab">'Umar bin Khattab ra.</a></br>
				<a href="kisah_sahabat_nabi/utsman_bin_affan">'Utsman bin Affan ra.</a></br>
				<a href="kisah_sahabat_nabi/ali_bin_abi_thalib">'Ali bin Abi Thalib ra.</a></br>
			</div>
		</p>	
		</div>		
	</body>
</html> 